<!-- todo_list/todo_app/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>{% block title %}ToDo List App{% endblock %}</title>
</head>
<body>
    <div>
        <h1 onclick="location.href='{% url "index" %}'">ToDo List App</h1>
    </div>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
